body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    background: #f0f2f5;
    font-family: Arial, Helvetica, sans-serif;
}
.calculator{
    background: #FAFFAF;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.display{
    width: calc(100% - 20px);
    height: 20px;
    margin-bottom: 30px;
    padding: 10px;
    font-size: 1.2em;
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: right;
    background-color: white;
}
.buttons{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
button{
    width: 40px;
    height: 50px;
    background-color: #3FA2F6;
    border: none;
    border-radius: 5px;
    color: white;
}
button:hover{
    background-color: #0F67B1;
    transform: scale(1.01);
    transition: 0.1s;
}
